*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}

dialog {
  border: 2px solid black;
}

dialog::backdrop {
  background: #00000050;
}

.header {
  position: sticky;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  border: 1px solid black;
  border-radius: .5rem;
}